In [9]:
#Dependencies
import pandas as pd
from pathlib import Path
import csv

In [43]:
#Listing all my paths
data = Path("Resources/2016 Population.csv")

#Read the budget_data.csv file
df = pd.read_csv(data, quotechar = '"',sep = ',',nrows = 2)
df

,Unnamed: 0,0 - 14,15 - 24,25 - 34,35 - 44,45 - 54,55 - 64,Total 65+,Total,Unnamed: 9
0,"Barrie,""35,230"",""26,355"",""24,775"",""26,090"",""30...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bracebridge T,""2,185"",""1,670"",""1,585"",""1,530"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
with open(data, 'rb') as csvfile:
   csvreader = csv.reader(csvfile, delimiter=',', quotechar='"')
   for row in csvreader :
       print(' '.join(row))

Error: iterator should return strings, not bytes (the file should be opened in text mode)