In [9]:
#Dependencies
import pandas as pd lsdihfls
from pathlib import Path
import csv

In [43]:
#Listing all my paths
data = Path("Resources/2016 Population.csv")

#Read the csv file
df = pd.read_csv(data, quotechar = '"',sep = ',',nrows = 2)
df

,Unnamed: 0,0 - 14,15 - 24,25 - 34,35 - 44,45 - 54,55 - 64,Total 65+,Total,Unnamed: 9
0,"Barrie,""35,230"",""26,355"",""24,775"",""26,090"",""30...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bracebridge T,""2,185"",""1,670"",""1,585"",""1,530"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
pd.read_csv(data,sep=',\s',quoting=csv.QUOTE_ALL)

C:\Users\tadip\AppData\Local\Temp\ipykernel_17432\3404893090.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pd.read_csv(data,sep=',\s',quoting=csv.QUOTE_ALL)

   ,0 - 14,15 - 24,25 - 34,35 - 44,45 - 54,55 - 64,Total 65+,Total,
0   "Barrie,""35,230"",""26,355"",""24,775"",""26,...
1   "Bracebridge T,""2,185"",""1,670"",""1,585"","...
2   "Brantford,""23,570"",""16,080"",""15,945"",""...
3   "Brighton MU,""1,480"",""1,030"",900,""1,015""...
4   "Brock TP,""1,875"",""1,275"",""1,235"",""1,22...
5   "Brockville,""5,140"",""4,210"",""3,730"",""3,...
6   "Centre Wellington,""4,895"",""3,255"",""2,905...
7   "Chatham-Kent,""16,720"",""11,605"",""10,580""...
8   "Cobourg,""2,435"",""1,890"",""1,615"",""1,825...
9   "Collingwood,""3,120"",""2,075"",""2,285"",""2...
10  "Cornwall,""9,315"",""6,695"",""6,425"",""6,24...
11  "Elliot Lake,""1,110"",755,785,785,""1,205"","...
12  "Erin T,""1,745"",""1,540"",910,""1,290"",""2,...
13  "Gravenhurst T,""1,405"",965,""1,100"",""1,070...
14  "Greater Napanee T,""2,330"",""1,590"",""1,505...
15  "Greater Sudbury / Grand Sudbury,""25,535"",""...
16  "Guelph,""25,755"",""20,590"",""20,720"",""19,...
17  "Haldimand County CY,""7,705"",""5,640"",""4,7...
18  "Hamilton,""122,250"",""92,420"",""92,715"",""...
19  "Hawkesbury,""1,575"",""1,160"",""1,085"",""1,...
20  "Huntsville T,""2,830"",""2,090"",""2,095"",""...
21  "Ingersoll,""2,335"",""1,570"",""1,530"",""1,5...
22  "Kawartha Lakes,""9,865"",""7,740"",""6,890"",...
23  "Kenora,""2,415"",""1,740"",""1,685"",""1,675"...
24  "Kincardine MU,""1,845"",""1,105"",""1,370"","...
25  "Kingston,""23,885"",""20,030"",""20,465"",""1...
26  "Kitchener - Cambridge - Waterloo,""92,220"","...
27  "Lambton Shores MU,""1,305"",895,830,930,""1,3...
28  "London,""81,050"",""65,325"",""65,220"",""60,...
29  "Meaford MU,""1,415"",995,925,""1,040"",""1,45...
30  "Midland,""4,775"",""3,515"",""3,690"",""3,585...
31  "Norfolk,""9,695"",""7,100"",""6,220"",""6,260...
32  "North Bay,""10,490"",""8,110"",""8,260"",""7,...
33  "North Perth MU,""2,670"",""1,670"",""1,610"",...
34  "Orillia,""4,390"",""3,585"",""3,710"",""3,075...
35  "Oshawa,""69,145"",""49,175"",""45,865"",""50,...
36  "Ottawa,""155,440"",""124,855"",""124,525"",""...
37  "Owen Sound,""4,525"",""3,440"",""3,335"",""3,...
38  "Pembroke,""3,470"",""2,530"",""2,810"",""2,47...
39  "Petawawa,""3,800"",""1,835"",""3,790"",""2,22...
40  "Peterborough,""17,795"",""14,805"",""14,330""...
41  "Port Hope,""2,175"",""1,730"",""1,635"",""1,6...
42  "Prince Edward County CY,""2,830"",""2,135"","...
43  "Sarnia,""14,705"",""11,045"",""11,085"",""10,...
44  "Saugeen Shores T,""1,970"",""1,205"",""1,645"...
45  "Sault Ste. Marie,""11,280"",""8,840"",""8,810...
46  "Scugog TP,""3,135"",""2,580"",""1,990"",""2,2...
47  "St. Catharines - Niagara,""58,980"",""48,645"...
48  "Stratford,""4,645"",""3,600"",""3,540"",""3,6...
49  "The Nation / La Nation M,""2,410"",""1,450"",...
50  "Thunder Bay,""17,735"",""14,865"",""14,580"",...
51  "Tillsonburg,""2,340"",""1,630"",""1,595"",""1...
52  "Timmins,""7,125"",""5,130"",""5,240"",""5,265...
53  "Toronto,""983,755"",""774,945"",""840,770"","...
54  "Trent Hills MU,""1,720"",""1,080"",""1,080"",...
55  "West Grey MU,""1,885"",""1,290"",""1,095"",""...
56  "West Nipissing / Nipissing Ouest M,""2,155"",...
57  "Windsor,""54,965"",""43,860"",""37,580"",""40...
58  "Woodstock,""6,840"",""4,625"",""5,375"",""5,1...
59  "Ontario,""2,203,720"",""1,695,800"",""1,727,9...

1