In [1]:
#Dependencies
import pandas as pd
from pathlib import Path
import numpy as np
import api_keys
import json
from pprint import pprint
import requests

****<font size="5">Population</font>****

In [2]:
#Listing all my paths
data = Path("Resources1/2016 - 2021 Population - Oshawa.csv")

#Read the csv file
df = pd.read_csv(data)
oshawa_pop_2021 = df.index[3][3]
oshawa_pop_2016 = df.index[4][3]
print(oshawa_pop_2021+" "+"and"+" "+oshawa_pop_2016)

175383 and 159458

In [3]:

#Create a MultiIndex using an Index and a column:

Oshawa_df = pd.DataFrame({'City': ['Oshawa', 'Oshawa' ],
                          'Year': ['2016',' 2021'],
                          'Population': [oshawa_pop_2016, oshawa_pop_2021,],
                         })
Oshawa_df = Oshawa_df.set_index(['City', 'Year'])
Oshawa_df

             Population
City   Year
Oshawa 2016      159458
        2021     175383

****<font size="5">Household Income</font>****

In [4]:
#Listing all my paths
data_2016 = Path("Resources1/2016 Household Income (stat can) - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_income_2016 = df_2016.index[83][3]
oshawa_income_2016

'   70211'

In [5]:
#Listing all my paths
data_2021 = Path("Resources1/2021 Household Income (stat can) - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_income_2021 = df_2021.index[4][3]
oshawa_income_2021

' 86000'

In [6]:
#Adding to the df
Oshawa_df["Household Income ($)"] = [oshawa_income_2016,oshawa_income_2021]
Oshawa_df

             Population Household Income ($)
City   Year
Oshawa 2016      159458                70211
        2021     175383                86000

****<font size="5">Average and Median Rent</font>****

In [7]:
#Listing all my paths
data_2016 = Path("Resources1/2016 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_average_rent_2016 = df_2016.index[67][3]
oshawa_median_rent_2016 = df_2016.index[66][3]
print(f'{oshawa_average_rent_2016} and {oshawa_median_rent_2016}')

    1070 and     1015

In [8]:
#Listing all my paths
data_2021 = Path("Resources1/2021 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_average_rent_2021 = df_2021.index[84][3]
oshawa_median_rent_2021 = df_2021.index[83][3]
print(f'{oshawa_average_rent_2021} and {oshawa_median_rent_2021}')

  1400 and   1300

In [9]:
#Adding to the df
Oshawa_df["Average Rent ($)"] = [oshawa_average_rent_2016,oshawa_average_rent_2021]
Oshawa_df["Median Rent ($)"] = [oshawa_median_rent_2016,oshawa_median_rent_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

****<font size="5">Estimated House Value</font>****

**<font size="5">Unemployment rate</font>**

In [10]:
#Listing all my paths
data_2016 = Path("Resources1/2016 Employment - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_unemploymentr_2016 = df_2016.index[9][3]
oshawa_unemploymentr_2016

'  9.8'

In [11]:
#Listing all my paths
data_2021 = Path("Resources1/2021 Employment - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_unemploymentr_2021 = df_2021.index[10][3]
oshawa_unemploymentr_2021

'   15.2'

In [12]:
#Adding to the df
Oshawa_df["Unemployment Rate (%)"] = [oshawa_unemploymentr_2016,oshawa_unemploymentr_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Unemployment Rate (%)
City   Year
Oshawa 2016                    9.8
        2021                  15.2

**<font size="5">Property Tax</font>**

In [13]:
#Small note : tax = House Value * tax rate
#Listing all my paths
data_2016 = Path("Resources1/2016 Property Tax Rates-Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1", on_bad_lines = "skip", sep = ";")
df_2016 = df_2016.loc[df_2016["Municipality"] == "Oshawa"]
oshawa_taxr_2016 = df_2016.iloc[0][4]
oshawa_taxr_2016

'1,561085'

In [14]:
#Small note : tax = House Value * tax rate
#Listing all my paths
data_2016 = Path("Resources1/2016 Property Tax Rates-Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1", on_bad_lines = "skip", sep = ";")
df_2016 = df_2016.loc[df_2016["Municipality"] == "Oshawa"]
oshawa_taxr_2016 = df_2016.iloc[0][4]
oshawa_taxr_2016

'1,561085'

In [15]:
#Adding to the df
Oshawa_df["Property Tax Rate (%)"] = [oshawa_taxr_2016,oshawa_taxr_2016]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Unemployment Rate (%) Property Tax Rate (%)
City   Year
Oshawa 2016                    9.8              1,561085
        2021                  15.2              1,561085

**<font size="5">Rented & Owned Houses</font>**

In [16]:
#Listing all my paths
data_2016 = Path("Resources1/2016 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_owned_2016 = df_2016.index[3][3]
oshawa_rented_2016 = df_2016.index[4][3]
print(f'{oshawa_owned_2016} and {oshawa_rented_2016}')

   42875 and    19720

In [17]:
#Listing all my paths
data_2021 = Path("Resources1/2021 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_owned_2021 = df_2021.index[4][3]
oshawa_rented_2021 = df_2021.index[5][3]
print(f'{oshawa_owned_2021} and {oshawa_rented_2021}')

 42750 and  23880

In [18]:
#Adding to the df
Oshawa_df["Rented Houses"] = [oshawa_rented_2016,oshawa_rented_2021]
Oshawa_df["Owned Houses"] = [oshawa_owned_2016,oshawa_owned_2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Unemployment Rate (%) Property Tax Rate (%) Rented Houses  \
City   Year
Oshawa 2016                    9.8              1,561085         19720
        2021                  15.2              1,561085         23880

             Owned Houses
City   Year
Oshawa 2016         42875
        2021        42750

**<font size="5">New Housing Built</font>**

In [19]:
#Listing all my paths
data_2016 = Path("Resources1/2016 New Built.xlsx")

#Read the csv file
df_2016 = pd.read_excel(data_2016, skiprows= [0,1,2,3])
oshawa_new__2016 = df_2016.iloc[509][7]
oshawa_new__2016

834

In [20]:
#Listing all my paths
data_2021 = Path("Resources1/2021 New Built.xlsx")

#Read the csv file
df_2021 = pd.read_excel(data_2021, skiprows= [0,1,2,3])
oshawa_new__2021 = df_2021.iloc[540][7]
oshawa_new__2021

'1,416'

In [21]:
#Adding to the df
Oshawa_df["New Built"] = [oshawa_new__2016,oshawa_new__2021]
Oshawa_df

             Population Household Income ($) Average Rent ($) Median Rent ($)  \
City   Year
Oshawa 2016      159458                70211             1070            1015
        2021     175383                86000             1400            1300

             Unemployment Rate (%) Property Tax Rate (%) Rented Houses  \
City   Year
Oshawa 2016                    9.8              1,561085         19720
        2021                  15.2              1,561085         23880

             Owned Houses New Built
City   Year
Oshawa 2016         42875       834
        2021        42750     1,416

**<font size="5">Average Sale Price</font>**

**<font size="5">Schools DataFrame</font>**

In [22]:
#Listing my paths
school_boards = Path('Resources1/School Boards.csv')


#Creating the df
boards = pd.read_csv(school_boards)
df = boards.loc[boards["City"]=="Oshawa"]
oshawa_school_df = df[["Board name", "City","Board type","Board number"]].set_index('Board number')
oshawa_school_df

,Board name,City,Board type
Board number,,,
B80020,Campbell Children’s School Authority,Oshawa,Provincial/Hospital
B67105,Durham Catholic District School Board,Oshawa,Catholic District School Board (English/French)

**<font size="5">Leisure DataFrame</font>**