In [1]:
#Dependencies
import pandas as pd
from pathlib import Path
import csv
import numpy as np

**Population**

In [2]:
#Listing all my paths
data = Path("Resources1/2016 - 2021 Population - Oshawa.csv")

#Read the csv file
df = pd.read_csv(data)
oshawa_pop_2021 = df.index[3][3]
oshawa_pop_2016 = df.index[4][3]
print(oshawa_pop_2021+" "+"and"+" "+oshawa_pop_2016)

175383 and 159458

In [3]:

#Create a MultiIndex using an Index and a column:

Oshawa_df = pd.DataFrame({'City': ['Oshawa', 'Oshawa' ],
                          'Year': ['2016',' 2021'],
                          'Population': [oshawa_pop_2016, oshawa_pop_2021,],
                         })
Oshawa_df = Oshawa_df.set_index(['City', 'Year'])
Oshawa_df

             Population
City   Year
Oshawa 2016      159458
        2021     175383

**Household Income**

In [4]:
#Listing all my paths
data_2016 = Path("Resources1/2016 Household Income (stat can) - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_income_2016 = df_2016.index[83][3]
oshawa_income_2016

'   70211'

In [5]:
#Listing all my paths
data_2021 = Path("Resources1/2021 Household Income (stat can) - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_income_2021 = df_2021.index[4][3]
oshawa_income_2021

' 86000'

In [6]:
#Adding to the df
Oshawa_df["Household Income"] = [oshawa_income_2016,oshawa_income_2021]
Oshawa_df

             Population Household Income
City   Year
Oshawa 2016      159458            70211
        2021     175383            86000

**Average Rent**

In [7]:
#Listing all my paths
data_2016 = Path("Resources1/2016 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2016 = pd.read_csv(data_2016, encoding = "ISO-8859-1")
oshawa_average_rent_2016 = df_2016.index[67][3]
oshawa_median_rent_2016 = df_2016.index[66][3]
print(f'{oshawa_average_rent_2016} and {oshawa_median_rent_2016}')

    1070 and     1015

In [8]:
#Listing all my paths
data_2021 = Path("Resources1/2021 Owned vs Rented - Oshawa.csv")

#Read the csv file
df_2021 = pd.read_csv(data_2021, encoding = "ISO-8859-1")
oshawa_average_rent_2021 = df_2021.index[84][3]
oshawa_median_rent_2021 = df_2021.index[83][3]
print(f'{oshawa_average_rent_2021} and {oshawa_median_rent_2021}')

  1400 and   1300

In [9]:
#Adding to the df
Oshawa_df["Average Rent"] = [oshawa_average_rent_2016,oshawa_average_rent_2021]
Oshawa_df["Median Rent"] = [oshawa_median_rent_2016,oshawa_median_rent_2021]
Oshawa_df

             Population Household Income Average Rent Median Rent
City   Year
Oshawa 2016      159458            70211         1070        1015
        2021     175383            86000         1400        1300