In [5]:
#Dependencies
import pandas as pd
from pathlib import Path
import csv
import numpy as np

In [2]:
#Listing all my paths
data = Path("Resources1/2016 Population.csv")

#Read the csv file
df = pd.read_csv(data, sep=';')
df.head()

,Unnamed: 0,0 - 14,15 - 24,25 - 34,35 - 44,45 - 54,55 - 64,Total 65+,Total
0,Barrie,"35,23","26,355","24,775","26,09","30,845","24,925","26,225","194,45"
1,Bracebridge T,"2,185","1,67","1,585","1,53","2,265","2,65","3,69","15,565"
2,Brantford,"23,57","16,08","15,945","16,455","18,855","18,895","21,84","131,64"
3,Brighton MU,"1,48","1,03",900,"1,015","1,49","1,955","3,285","11,16"
4,Brock TP,"1,875","1,275","1,235","1,22","1,745","1,815","2,2","11,36"

In [3]:
df = df.set_index('Unnamed: 0')
oshawa_df = df["Total"].loc[df.index=='Oshawa']
oshawa_df

Unnamed: 0
Oshawa    375,605
Name: Total, dtype: object

**Population**

In [4]:
#Listing all my paths
data = Path("Resources1/2016 - 2021 Population - Oshawa.csv")

#Read the csv file
df = pd.read_csv(data)
oshawa_pop_2021 = df.index[3][3]
oshawa_pop_2016 = df.index[4][3]
print(oshawa_pop_2021+" "+"and"+" "+oshawa_pop_2016)

175383 and 159458

In [9]:

#Create a MultiIndex using an Index and a column:

Oshawa_df = pd.DataFrame({'City': ['Oshawa', 'Oshawa' ],
                          'Year': ['2016',' 2021'],
                          'Population': [oshawa_pop_2016, oshawa_pop_2021,],
                         })
Oshawa_df = Oshawa_df.set_index(['City', 'Year'])
Oshawa_df

             Population
City   Year
Oshawa 2016      159458
        2021     175383