In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools as ft

In [2]:
# File to Load (Remember to Change These)
dataset_2016 = Path('Resources_Vaughan/Vaughan StatsCan 2016.csv')
dataset_2021 = Path('Resources_Vaughan/Vaughan StatsCan 2021.csv')
sale_med = Path('Resources_Vaughan/Vaughan Med Sale.csv')
rent_med = Path('Resources_Vaughan/Vaughan Med Rental.csv')
rent_avg = Path('Resources_Vaughan/Vaughan Avg Rental Price.csv')
sale_avg = Path('Resources_Vaughan/Vaughan Avg Sale Price.csv')
private_schools = Path('Resources_Vaughan/Private School Boards.csv')
public_schools = Path('Resources_Vaughan/Public School Boards.csv')

In [3]:
# Dataframes
df_2016 = pd.read_csv(dataset_2016, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_2021 = pd.read_csv(dataset_2021, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_rent_median = pd.read_csv(rent_med, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_rent_average = pd.read_csv(rent_avg, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_sale_average = pd.read_csv(sale_avg, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_sale_median = pd.read_csv(sale_med, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_private_schools = pd.read_csv(private_schools, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')
df_public_schools = pd.read_csv(public_schools, encoding = "ISO-8859-1", on_bad_lines = 'skip', low_memory = True, engine = 'python')

df_public_schools.sample(5)

,ï»¿Board Number,Board Name,Board Type,School Number,School Name,School Type,School Special Condition Code,School Level,School Language,Grade Range,...,Change in Grade 6 Writing Achievement Over Three Years,Percentage of Grade 6 Students Achieving the Provincial Standard in Mathematics,Change in Grade 6 Mathematics Achievement Over Three Years,Percentage of Grade 9 Students Achieving the Provincial Standard in Mathematics,Change in Grade 9 Mathematics Achievement Over Three Years,Percentage of Students That Passed the Grade 10 OSSLT on Their First Attempt,Change in Grade 10 OSSLT Literacy Achievement Over Three Years,Percentage of School-Aged Children Who Live in Low-Income Households,"Percentage of Students Whose Parents Have No Degree, Diploma or Certificate",Extract Date
4483,B66176,Waterloo Region DSB,Pub Dist Sch Brd (E/F),460273,Prueter Public School,Public,Not applicable,Elementary,English,JK-6,...,NaN,14%,NaN,NaN,NaN,NaN,NaN,20,10,3-Nov-23
968,B67083,Dufferin-Peel CDSB,Cath Dist Sch Brd (E/F),786730,St Dominic Separate School,Catholic,Not applicable,Elementary,English,JK-8,...,NaN,65%,NaN,NaN,NaN,NaN,NaN,15,0,3-Nov-23
2137,B28037,Near North DSB,Pub Dist Sch Brd (E/F),400475,Nobel Public School,Public,Not applicable,Elementary,English,JK-8,...,NaN,35%,NaN,NaN,NaN,NaN,NaN,15,5,3-Nov-23
1537,B66133,Halton DSB,Pub Dist Sch Brd (E/F),543217,Sunningdale Public School,Public,Not applicable,Elementary,English,1-8,...,NaN,66%,NaN,NaN,NaN,NaN,NaN,10,0,3-Nov-23
925,B67083,Dufferin-Peel CDSB,Cath Dist Sch Brd (E/F),714909,Holy Cross School,Catholic,Not applicable,Elementary,English,JK-8,...,NaN,22%,NaN,NaN,NaN,NaN,NaN,35,10,3-Nov-23

In [4]:
housing_dfs = [df_sale_median, df_rent_median, df_sale_average, df_rent_average]
df_housing_merged = ft.reduce(lambda  left,right: pd.merge(left,right,on=['Primary Year'], how='outer'), housing_dfs)
df_housing_merged

,Primary Year,"Close Price, Median_x","Close Price, Median_y","Close Price, Average_x","Close Price, Average_y"
0,2013,"$600,000","$2,300","$656,698","$2,492"
1,2014,"$651,000","$2,300","$715,496","$2,544"
2,2015,"$720,000","$2,300","$796,186","$2,505"
3,2016,"$852,000","$2,350","$942,357","$2,525"
4,2017,"$952,250","$2,400","$1,073,785","$2,521"
5,2018,"$865,000","$2,500","$944,653","$2,628"
6,2019,"$880,000","$2,600","$948,485","$2,735"
7,2020,"$1,000,000","$2,500","$1,098,155","$2,663"
8,2021,"$1,200,000","$2,550","$1,299,913","$2,841"
9,2022,"$1,300,000","$2,700","$1,403,603","$2,956"
10,2023,"$1,250,000","$2,700","$1,324,157","$2,990"

In [5]:
private_school_count = len(
    df_private_schools.loc[(df_private_schools['City'] == 'Vaughan')])
print(private_school_count)

0

In [6]:
public_school_count = len(df_public_schools.loc[(df_public_schools['City'] == 'Vaughan') & (df_public_schools['School Type'] == 'Public')])
print(public_school_count)

3

In [7]:
catholic_school_count = len(df_public_schools.loc[(df_public_schools['City'] == 'Vaughan') & (df_public_schools['School Type'] == 'Catholic')])
print(catholic_school_count)

3

In [8]:
def format_value(value, percentage=False, currency=False):
    if isinstance(value, np.ndarray):
        value = value.item()
    if percentage:
        return f"{value:.2f}%"
    elif currency:
        return f"${value:.2f}"
    else:
        return str(round(value))
    
population_2016 = df_2016.loc[df_2016['Characteristics'] == 'Population; 2016']['Total'].values
income_2016 = df_2016.loc[df_2016['Characteristics'] == '    Average total income in 2015 among recipients ($)']['Total'].values
house_value_2016 = df_2016.loc[df_2016['Characteristics'] == '  Average value of dwellings ($)']['Total'].values
unemployment_2016 = df_2016.loc[df_2016['Characteristics'] == 'Unemployment rate']['Total'].values
rented_2016 = df_2016.loc[df_2016['Characteristics'] == '  Renter']['Total'].values
owned_2016 = df_2016.loc[df_2016['Characteristics'] == '  Owner']['Total'].values
vaughan_2016 = {
    'Year': '2016',
    'Population': format_value(population_2016),
    'Household Income': format_value(income_2016, currency = True),
    'House Values': format_value(house_value_2016, currency = True),
    'Unemployment Rate': format_value(unemployment_2016, percentage = True),
    'Rented Housing': format_value(rented_2016),
    'Owned Housing': format_value(owned_2016)
}
vaughan_2016_df = pd.DataFrame(vaughan_2016, index = [0])
print(vaughan_2016_df)

   Year Population Household Income House Values Unemployment Rate  \
0  2016     306233        $53441.00   $893065.00             5.80%

  Rented Housing Owned Housing
0           9765         84490

In [9]:
population_2021 = df_2021.loc[df_2021['Characteristic'] == 'Population, 2021']['Total'].values
income_2021 = df_2021.loc[df_2021['Characteristic'] == '  Average total income of household in 2020 ($)']['Total'].values
house_value_2021 = df_2021.loc[df_2021['Characteristic'] == '  Average value of dwellings ($)']['Total'].values
unemployment_2021 = df_2021.loc[df_2021['Characteristic'] == 'Unemployment rate']['Total'].values
rented_2021 = df_2021.loc[df_2021['Characteristic'] == '  Renter']['Total'].values
owned_2021 = df_2021.loc[df_2021['Characteristic'] == '  Owner']['Total'].values

vaughan_2021 = {
    'Year': '2021',
    'Population': format_value(population_2021),
    'Household Income': format_value(income_2021, currency = True),
    'House Values': format_value(house_value_2021, currency = True),
    'Unemployment Rate': format_value(unemployment_2021, percentage = True),
    'Rented Housing': format_value(rented_2021),
    'Owned Housing': format_value(owned_2021)
}
vaughan_2021_df = pd.DataFrame(vaughan_2021, index = [0])
print(vaughan_2021_df)

   Year Population Household Income House Values Unemployment Rate  \
0  2021     323103       $153000.00  $1282000.00            12.50%

  Rented Housing Owned Housing
0          14620         89290

In [10]:
schools = {
    '# of Catholic Schools': catholic_school_count,
    '# of Public Schools': public_school_count,
    '# of Private Schools': private_school_count
}

schools_df = pd.DataFrame(schools, index = [0])
print(schools_df)

   # of Catholic Schools  # of Public Schools  # of Private Schools
0                      3                    3                     0

In [11]:
combined_df = pd.concat([vaughan_2016_df, vaughan_2021_df], ignore_index=True)
combined_df.set_index(['Year'])
print(combined_df)

   Year Population Household Income House Values Unemployment Rate  \
0  2016     306233        $53441.00   $893065.00             5.80%
1  2021     323103       $153000.00  $1282000.00            12.50%

  Rented Housing Owned Housing
0           9765         84490
1          14620         89290

In [12]:
# Vaughan_df = pd.DataFrame({'City': ['Vaughan', 'Vaughan'],
#                            'Year': ['2016', '2021'],
#                            'Population': [population_2016, population_2021]
#                            })
# Vaughan_df = Vaughan_df.set_index(['City', 'Year'])
# Vaughan_df = Vaughan_df
# Vaughan_df