In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import csv as csv
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from citipy import citipy

In [38]:
milton_df = pd.read_csv("Resources/CensusProfile2021-ProfilRecensement2021-20231206084412.csv", encoding='ISO-8859-1')
milton_df.head(20)

,Topic,Characteristic,Note,Total,Total_Flag,Total.1,Total_Flag.1
0,Population and dwellings,"Population, 2021",1.0,132979.00,NaN,NaN,...
1,Population and dwellings,"Population, 2016",1.0,110128.00,NaN,NaN,...
2,Population and dwellings,"Population percentage change, 2016 to 2021",NaN,20.70,NaN,20.7,NaN
3,Population and dwellings,Total private dwellings,2.0,41000.00,NaN,NaN,...
4,Population and dwellings,Private dwellings occupied by usual residents,3.0,40038.00,NaN,NaN,...
5,Population and dwellings,Population density per square kilometre,NaN,365.50,NaN,365.5,NaN
6,Population and dwellings,Land area in square kilometres,NaN,363.83,NaN,NaN,...
7,Age characteristics,Total - Age groups of the population - 100% data,NaN,132980.00,NaN,100.0,NaN
8,Age characteristics,0 to 14 years,NaN,31980.00,NaN,24.0,NaN
9,Age characteristics,0 to 4 years,NaN,8875.00,NaN,6.7,NaN
10,Age characteristics,5 to 9 years,NaN,11055.00,NaN,8.3,NaN
11,Age characteristics,10 to 14 years,NaN,12050.00,NaN,9.1,NaN
12,Age characteristics,15 to 64 years,NaN,87770.00,NaN,66.0,NaN
13,Age characteristics,15 to 19 years,NaN,9520.00,NaN,7.2,NaN
14,Age characteristics,20 to 24 years,NaN,6880.00,NaN,5.2,NaN
15,Age characteristics,25 to 29 years,NaN,6880.00,NaN,5.2,NaN
16,Age characteristics,30 to 34 years,NaN,9270.00,NaN,7.0,NaN
17,Age characteristics,35 to 39 years,NaN,11375.00,NaN,8.6,NaN
18,Age characteristics,40 to 44 years,NaN,12415.00,NaN,9.3,NaN
19,Age characteristics,45 to 49 years,NaN,11040.00,NaN,8.3,NaN

In [36]:
milton_df.columns

Index(['Topic', 'Characteristic', 'Note', 'Total', 'Total_Flag', 'Total.1',
       'Total_Flag.1'],
      dtype='object')

In [46]:
milton_housing_df = pd.read_csv("Resources/TableExport (1).csv", encoding='ISO-8859-1', on_bad_lines='skip')
milton_housing_df.head(5)

  Milton (T)  Historical Starts by Dwelling Type
0               1990 to 2022 Intended Markets - All