In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import csv as csv
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from citipy import citipy

In [45]:
df_1=pd.read_csv("Resources/Milton_Avg_Rental_Price_updated.csv", encoding='ISO-8859-1')
df_2=pd.read_csv("Resources/Milton_Avg_Sale_Price_updated.csv", encoding='ISO-8859-1')
df_3=pd.read_csv("Resources/Milton_Median_Rental_Price_updated.csv", encoding='ISO-8859-1')
df_4=pd.read_csv("Resources/Milton_Median_Sale_Price_updated.csv", encoding='ISO-8859-1')

   Primary Year Sale Price, Median
0          2016           $621,000
1          2017           $705,000
2          2018           $675,000
3          2019           $725,000
4          2020           $810,786
5          2021           $990,000
6          2022         $1,100,000
7          2023         $1,015,000

In [32]:
milton_df_2021 = pd.read_csv("Resources/CensusProfile2021-ProfilRecensement2021-20231206084412.csv", encoding='ISO-8859-1')
milton_df

,Topic,Characteristic,Total
0,Population and dwellings,"Population, 2021",132979.0
1,Population and dwellings,"Population, 2016",110128.0
2,Population and dwellings,"Population percentage change, 2016 to 2021",20.7
3,Population and dwellings,Total private dwellings,41000.0
4,Population and dwellings,Private dwellings occupied by usual residents,40038.0
...,...,...,...
223,Labour force status,Unemployed,8035.0
224,Labour force status,Not in the labour force,28790.0
225,Labour force status,Participation rate,71.1
226,Labour force status,Employment rate,63.0
227,Labour force status,Unemployment rate,11.4

In [23]:
milton_df.columns

Index(['Topic', 'Characteristic', 'Total'], dtype='object')

In [27]:
#milton_housing_df = pd.read_csv("Resources/TableExport (1).csv", encoding='ISO-8859-1',sep=';')
#milton_housing_df.columns

In [30]:
milton_df_2016 = pd.read_csv("Resources/CensusProfile2016-ProfilRecensement2016-20231207084508.csv", encoding='ISO-8859-1')
milton_df_2016

,Topic,Characteristics,Unnamed: 2,Total
0,Population and dwellings,Population; 2016,NaN,110128.0
1,Population and dwellings,Population; 2011,NaN,84362.0
2,Population and dwellings,Population percentage change; 2011 to 2016,NaN,30.5
3,Population and dwellings,Total private dwellings,NaN,35537.0
4,Population and dwellings,Private dwellings occupied by usual residents,NaN,34257.0
...,...,...,...,...
2242,Mobility status - Place of residence 5 years ago,Migrants,NaN,31220.0
2243,Mobility status - Place of residence 5 years ago,Internal migrants,NaN,25720.0
2244,Mobility status - Place of residence 5 years ago,Intraprovincial migrants,NaN,24440.0
2245,Mobility status - Place of residence 5 years ago,Interprovincial migrants,NaN,1280.0
2246,Mobility status - Place of residence 5 years ago,External migrants,NaN,5500.0

In [39]:
milton_df = pd.merge(milton_df_2016, milton_df_2021, how='left', left_index=True, right_index=True)
del milton_df['Unnamed: 2']
milton_df

,Topic_x,Characteristics,Total_x,Topic_y,Characteristic,Total_y
0,Population and dwellings,Population; 2016,110128.0,Population and dwellings,"Population, 2021",132979.0
1,Population and dwellings,Population; 2011,84362.0,Population and dwellings,"Population, 2016",110128.0
2,Population and dwellings,Population percentage change; 2011 to 2016,30.5,Population and dwellings,"Population percentage change, 2016 to 2021",20.7
3,Population and dwellings,Total private dwellings,35537.0,Population and dwellings,Total private dwellings,41000.0
4,Population and dwellings,Private dwellings occupied by usual residents,34257.0,Population and dwellings,Private dwellings occupied by usual residents,40038.0
...,...,...,...,...,...,...
2242,Mobility status - Place of residence 5 years ago,Migrants,31220.0,NaN,NaN,NaN
2243,Mobility status - Place of residence 5 years ago,Internal migrants,25720.0,NaN,NaN,NaN
2244,Mobility status - Place of residence 5 years ago,Intraprovincial migrants,24440.0,NaN,NaN,NaN
2245,Mobility status - Place of residence 5 years ago,Interprovincial migrants,1280.0,NaN,NaN,NaN
2246,Mobility status - Place of residence 5 years ago,External migrants,5500.0,NaN,NaN,NaN

In [48]:
droped_milton_df = milton_df.dropna()
droped_milton_df.head(50)

,Topic_x,Characteristics,Total_x,Topic_y,Characteristic,Total_y
0,Population and dwellings,Population; 2016,110128.00,Population and dwellings,"Population, 2021",132979.00
1,Population and dwellings,Population; 2011,84362.00,Population and dwellings,"Population, 2016",110128.00
2,Population and dwellings,Population percentage change; 2011 to 2016,30.50,Population and dwellings,"Population percentage change, 2016 to 2021",20.70
3,Population and dwellings,Total private dwellings,35537.00,Population and dwellings,Total private dwellings,41000.00
4,Population and dwellings,Private dwellings occupied by usual residents,34257.00,Population and dwellings,Private dwellings occupied by usual residents,40038.00
5,Population and dwellings,Population density per square kilometre,303.20,Population and dwellings,Population density per square kilometre,365.50
6,Population and dwellings,Land area in square kilometres,363.22,Population and dwellings,Land area in square kilometres,363.83
7,Age characteristics,Total - Age groups and average age of the popu...,110125.00,Age characteristics,Total - Age groups of the population - 100% data,132980.00
8,Age characteristics,0 to 14 years,28405.00,Age characteristics,0 to 14 years,31980.00
9,Age characteristics,0 to 4 years,9315.00,Age characteristics,0 to 4 years,8875.00
10,Age characteristics,5 to 9 years,10505.00,Age characteristics,5 to 9 years,11055.00
11,Age characteristics,10 to 14 years,8585.00,Age characteristics,10 to 14 years,12050.00
12,Age characteristics,15 to 64 years,71580.00,Age characteristics,15 to 64 years,87770.00
13,Age characteristics,15 to 19 years,6375.00,Age characteristics,15 to 19 years,9520.00
14,Age characteristics,20 to 24 years,5095.00,Age characteristics,20 to 24 years,6880.00
15,Age characteristics,25 to 29 years,5745.00,Age characteristics,25 to 29 years,6880.00
16,Age characteristics,30 to 34 years,8735.00,Age characteristics,30 to 34 years,9270.00
17,Age characteristics,35 to 39 years,10980.00,Age characteristics,35 to 39 years,11375.00
18,Age characteristics,40 to 44 years,10490.00,Age characteristics,40 to 44 years,12415.00
19,Age characteristics,45 to 49 years,8185.00,Age characteristics,45 to 49 years,11040.00
20,Age characteristics,50 to 54 years,6515.00,Age characteristics,50 to 54 years,8530.00
21,Age characteristics,55 to 59 years,5125.00,Age characteristics,55 to 59 years,6700.00
22,Age characteristics,60 to 64 years,4335.00,Age characteristics,60 to 64 years,5155.00
23,Age characteristics,65 years and over,10145.00,Age characteristics,65 years and over,13225.00
24,Age characteristics,65 to 69 years,4005.00,Age characteristics,65 to 69 years,4375.00
25,Age characteristics,70 to 74 years,2570.00,Age characteristics,70 to 74 years,3890.00
26,Age characteristics,75 to 79 years,1600.00,Age characteristics,75 to 79 years,2400.00
27,Age characteristics,80 to 84 years,985.00,Age characteristics,80 to 84 years,1400.00
28,Age characteristics,85 years and over,980.00,Age characteristics,85 years and over,1160.00
29,Age characteristics,85 to 89 years,595.00,Age characteristics,85 to 89 years,740.00
30,Age characteristics,90 to 94 years,310.00,Age characteristics,90 to 94 years,345.00
31,Age characteristics,95 to 99 years,60.00,Age characteristics,95 to 99 years,65.00
32,Age characteristics,100 years and over,10.00,Age characteristics,100 years and over,5.00
33,Age characteristics,Total - Distribution (%) of the population by ...,100.00,Age characteristics,Total - Distribution (%) of the population by ...,100.00
34,Age characteristics,0 to 14 years,25.80,Age characteristics,0 to 14 years,24.00
35,Age characteristics,15 to 64 years,65.00,Age characteristics,15 to 64 years,66.00
36,Age characteristics,65 years and over,9.20,Age characteristics,65 years and over,9.90
37,Age characteristics,85 years and over,0.90,Age characteristics,85 years and over,0.90
38,Age characteristics,Average age of the population,34.30,Age characteristics,Average age of the population,35.20
39,Age characteristics,Median age of the population,35.30,Age characteristics,Median age of the population,36.00
40,Household and dwelling characteristics,Total - Occupied private dwellings by structur...,34260.00,Household and dwelling characteristics,Total - Occupied private dwellings by structur...,40040.00
41,Household and dwelling characteristics,Single-detached house,20090.00,Household and dwelling characteristics,Single-detached house,22720.00
42,Household and dwelling characteristics,Apartment in a building that has five or mor...,1550.00,Household and dwelling characteristics,Semi-detached house,3755.00
43,Household and dwelling characteristics,Other attached dwelling,12600.00,Household and dwelling characteristics,Row house,9140.00
44,Household and dwelling characteristics,Semi-detached house,3570.00,Household and dwelling characteristics,Apartment or flat in a duplex,295.00
45,Household and dwelling characteristics,Row house,7425.00,Household and dwelling characteristics,Apartment in a building that has fewer than ...,1920.00
46,Household and dwelling characteristics,Apartment or flat in a duplex,260.00,Household and dwelling characteristics,Apartment in a building that has five or mor...,2185.00
47,Household and dwelling characteristics,Apartment in a building that has fewer tha...,1335.00,Household and dwelling characteristics,Other single-attached house,15.00
48,Household and dwelling characteristics,Other single-attached house,15.00,Household and dwelling characteristics,Movable dwelling,15.00
49,Household and dwelling characteristics,Movable dwelling,10.00,Household and dwelling characteristics,Total - Private households by household size -...,40035.00