In [12]:
# import dependencies

import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
import csv
import numpy as np
from pprint import pprint
import requests

In [2]:
# Read the census data into a Pandas DataFrame

# file_path = Path("Resources/Oakville_2021.csv")
# data = pd.read_csv(file_path, encoding="ISO-8859-1", low_memory=True)
file_2021 = Path('Resources/CensusProfile_Oakville2021.csv')
data_2021 = pd.read_csv(file_2021, encoding="ISO-8859-1", low_memory=True)
file_2016 = Path('Resources/CensusProfile_Oakville2016.csv')
data_2016 = pd.read_csv(file_2016, encoding="ISO-8859-1", low_memory=True)

# Combine the data into a single DataFrame
combined_df = pd.concat([data_2021, data_2016], axis=1)

# Display the data table for preview
combined_df = combined_df[['Characteristic', '2021', 'Characteristics', '2016']]
combined_df.head(60)

#data = pd.read_csv(file_path, encoding="UTF-8", index_col="year")
#data_2021.head()
#data_2016.head()

,Characteristic,2021,Characteristics,2016
0,"Population, 2021",213759.00,Population; 2016,193832.00
1,"Population, 2016",193832.00,Population; 2011,182520.00
2,"Population percentage change, 2016 to 2021",10.30,Population percentage change; 2011 to 2016,6.20
3,Total private dwellings,76179.00,Total private dwellings,68617.00
4,Private dwellings occupied by usual residents,73558.00,Private dwellings occupied by usual residents,66269.00
5,Population density per square kilometre,1538.50,Population density per square kilometre,1395.60
6,Land area in square kilometres,138.94,Land area in square kilometres,138.89
7,Total - Age groups of the population - 100% data,213760.00,Total - Age groups and average age of the popu...,193830.00
8,0 to 14 years,38435.00,0 to 14 years,36710.00
9,0 to 4 years,9280.00,0 to 4 years,8955.00
10,5 to 9 years,12875.00,5 to 9 years,13055.00
11,10 to 14 years,16285.00,10 to 14 years,14700.00
12,15 to 64 years,141725.00,15 to 64 years,128950.00
13,15 to 19 years,16665.00,15 to 19 years,14725.00
14,20 to 24 years,13375.00,20 to 24 years,12735.00
15,25 to 29 years,10175.00,25 to 29 years,8400.00
16,30 to 34 years,10315.00,30 to 34 years,8105.00
17,35 to 39 years,12755.00,35 to 39 years,11340.00
18,40 to 44 years,15105.00,40 to 44 years,15515.00
19,45 to 49 years,17780.00,45 to 49 years,17380.00
20,50 to 54 years,17615.00,50 to 54 years,16295.00
21,55 to 59 years,15255.00,55 to 59 years,14030.00
22,60 to 64 years,12680.00,60 to 64 years,10425.00
23,65 years and over,33595.00,65 years and over,28170.00
24,65 to 69 years,9665.00,65 to 69 years,8630.00
25,70 to 74 years,8345.00,70 to 74 years,6700.00
26,75 to 79 years,6300.00,75 to 79 years,5135.00
27,80 to 84 years,4530.00,80 to 84 years,3805.00
28,85 years and over,4760.00,85 years and over,3895.00
29,85 to 89 years,2910.00,85 to 89 years,2455.00
30,90 to 94 years,1455.00,90 to 94 years,1150.00
31,95 to 99 years,360.00,95 to 99 years,255.00
32,100 years and over,40.00,100 years and over,40.00
33,Total - Distribution (%) of the population by ...,100.00,Total - Distribution (%) of the population by ...,100.00
34,0 to 14 years,18.00,0 to 14 years,18.90
35,15 to 64 years,66.30,15 to 64 years,66.50
36,65 years and over,15.70,65 years and over,14.50
37,85 years and over,2.20,85 years and over,2.00
38,Average age of the population,40.40,Average age of the population,39.70
39,Median age of the population,41.60,Median age of the population,41.70
40,Total - Occupied private dwellings by structur...,73555.00,Total - Occupied private dwellings by structur...,66265.00
41,Single-detached house,43130.00,Single-detached house,40530.00
42,Semi-detached house,3310.00,Semi-detached house,2615.00
43,Other attached dwelling,NaN,Other attached dwelling,17850.00
44,Row house,12470.00,Row house,11065.00
45,Apartment or flat in a duplex,950.00,Apartment or flat in a duplex,955.00
46,Apartment in a building that has fewer than ...,4680.00,Apartment in a building that has fewer tha...,3150.00
47,Apartment in a building that has five or mor...,8955.00,Apartment in a building that has five or mor...,7885.00
48,Other single-attached house,60.00,Other single-attached house,65.00
49,Movable dwelling,0.00,Movable dwelling,0.00
50,Total - Private households by household size -...,73560.00,Total - Private households by household size -...,66270.00
51,1 person,13425.00,1 person,11760.00
52,2 persons,20490.00,2 persons,18715.00
53,3 persons,14040.00,3 persons,12170.00
54,4 persons,16660.00,4 persons,15560.00
55,5 or more persons,8950.00,5 or more persons,8070.00
56,Number of persons in private households,212055.00,Number of persons in private households,191720.00
57,Average household size,2.90,Average household size,2.90
58,Total - Income statistics for private househol...,73560.00,Total - Income statistics in 2015 for private ...,66270.00
59,Median total income of household in 2020 ($),128000.00,Median total income of households in 2015 ($),113666.00

In [3]:
## Population

In [4]:
#Population

#2021_df = combined_df.col['Characteristic']['2021']
#2016_df = combined_df.index[0][4]
#2021_df

print(f"{combined_df.iloc[0]['2021'].astype(int)}, {combined_df.iloc[0]['2016'].astype(int)}")
#2021_pop

213759, 193832

In [5]:
#Create a DataFrame for Population:

Oakville_pop = pd.DataFrame({'City': ['Oakville', 'Oakville' ],
                          'Year': ['2021',' 2016'],
                          'Population': [combined_df.iloc[0]['2021'].astype(int), combined_df.iloc[0]['2016'].astype(int)]
                         })
Oakville_df = Oakville_pop.set_index(['City', 'Year'])
Oakville_df

                Population
City     Year
Oakville 2021       213759
          2016      193832

In [6]:
#No. of Households
print(f"{combined_df.iloc[58]['2021'].astype(int)}, {combined_df.iloc[58]['2016'].astype(int)}")

73560, 66270

In [7]:
#Median Household Income
print(f"{combined_df.iloc[59]['2021'].astype(int)}, {combined_df.iloc[59]['2016'].astype(int)}")

128000, 113666

In [8]:
Oakville_df["No. of Households"] = [combined_df.iloc[58]['2021'].astype(int), combined_df.iloc[58]['2016'].astype(int)]
Oakville_df

                Population  No. of Households
City     Year
Oakville 2021       213759              73560
          2016      193832              66270

In [9]:
Oakville_df["Median Household Income"] = [combined_df.iloc[59]['2021'].astype(int), combined_df.iloc[59]['2016'].astype(int)]
Oakville_df

                Population  No. of Households  Median Household Income
City     Year
Oakville 2021       213759              73560                   128000
          2016      193832              66270                   113666

In [10]:
#Unemployment Rate
# 2021_unemp = combined_df.iloc[190]['2021'].astype(float)
# 2021_unemp

print(f"{combined_df.iloc[190]['2021'].astype(float)}, {combined_df.iloc[190]['2016'].astype(float)}")

11.7, 6.9

In [11]:
Oakville_df["Unemployment Rate"] = [combined_df.iloc[190]['2021'].astype(float), combined_df.iloc[190]['2016'].astype(float)]
Oakville_df

                Population  No. of Households  Median Household Income  \
City     Year
Oakville 2021       213759              73560                   128000
          2016      193832              66270                   113666

                Unemployment Rate
City     Year
Oakville 2021                11.7
          2016                6.9

In [16]:
#Property Tax Rate

#Listing file path
tax_file = Path("Resources/Oakville_tax-summary-historical-tax-rates.csv")

#Read the csv file
tax_df = pd.read_csv(tax_file, encoding = "ISO-8859-1")
tax_df

,Year,Type,Town,Management,Services,General,Region Total,Education,Total
0,2016,Residential,0.33%,0.02%,0.11%,0.18%,0.31%,0.19%,0.83%
1,2016,Multi-Residential,0.75%,0.04%,0.26%,0.40%,0.69%,0.19%,1.63%
2,2016,Commercial,0.48%,0.03%,0.17%,0.26%,0.45%,0.87%,1.80%
3,2016,land or vacant land,0.34%,0.02%,0.12%,0.18%,0.31%,0.61%,1.26%
4,2017,Residential,0.32%,0.02%,0.11%,0.17%,0.30%,0.18%,0.80%
5,2017,Multi-Residential,0.65%,0.03%,0.22%,0.34%,0.59%,0.18%,1.42%
6,2017,Commercial,0.47%,0.02%,0.16%,0.25%,0.43%,0.86%,1.76%
7,2017,land or vacant land,0.33%,0.02%,0.11%,0.17%,0.30%,0.60%,1.23%
8,2018,Residential,0.31%,0.02%,0.11%,0.16%,0.28%,0.17%,0.77%
9,2018,Multi-Residential,0.63%,0.03%,0.21%,0.32%,0.57%,0.17%,1.36%
10,2018,New Multi-Residential,0.31%,0.02%,0.11%,0.16%,0.28%,0.17%,0.77%
11,2018,Commercial,0.46%,0.02%,0.15%,0.24%,0.41%,0.84%,1.71%
12,2018,land or vacant land,0.32%,0.02%,0.11%,0.17%,0.29%,0.59%,1.19%
13,2019,Residential,0.30%,0.01%,0.10%,0.16%,0.27%,0.16%,0.73%
14,2019,Multi-Residential,0.60%,0.03%,0.20%,0.31%,0.55%,0.16%,1.31%
15,2019,New Multi-Residential,0.30%,0.01%,0.10%,0.16%,0.27%,0.16%,0.73%
16,2019,Commercial,0.44%,0.02%,0.15%,0.23%,0.40%,0.80%,1.64%
17,2019,land or vacant land,0.31%,0.02%,0.10%,0.16%,0.28%,0.68%,1.27%
18,2020,Residential,0.29%,0.01%,0.10%,0.15%,0.26%,0.15%,0.71%
19,2020,Multi-Residential,0.59%,0.03%,0.20%,0.30%,0.53%,0.15%,1.27%
20,2020,New Multi-Residential,0.29%,0.01%,0.10%,0.15%,0.26%,0.15%,0.71%
21,2020,Commercial,0.43%,0.02%,0.14%,0.22%,0.38%,0.77%,1.58%
22,2020,land or vacant land,0.43%,0.02%,0.14%,0.22%,0.38%,0.77%,1.58%
23,2021,Residential,0.30%,0.01%,0.10%,0.15%,0.27%,0.15%,0.72%
24,2021,Multi-Residential,0.60%,0.03%,0.20%,0.31%,0.54%,0.15%,1.29%
25,2021,New Multi-Residential,0.30%,0.01%,0.10%,0.15%,0.27%,0.15%,0.72%
26,2021,Commercial,0.44%,0.02%,0.15%,0.22%,0.39%,0.77%,1.60%
27,2021,land or vacant land,0.44%,0.02%,0.15%,0.22%,0.39%,0.77%,1.60%

In [29]:
oakville_tax_2021 = tax_df.iloc[23]['Total']
oakville_tax_2021
oakville_tax_2016 = tax_df.iloc[0]['Total']
oakville_tax_2016
print(f"{oakville_tax_2021}, {oakville_tax_2016}")

0.72%, 0.83%

In [30]:
Oakville_df["Property Tax Rate"] = [oakville_tax_2021, oakville_tax_2016]
Oakville_df

                Population  No. of Households  Median Household Income  \
City     Year
Oakville 2021       213759              73560                   128000
          2016      193832              66270                   113666

                Unemployment Rate Property Tax Rate
City     Year
Oakville 2021                11.7             0.72%
          2016                6.9             0.83%