In [7]:
# import dependencies

import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
import csv

In [18]:
# Read the census data into a Pandas DataFrame

# file_path = Path("Resources/Oakville_2021.csv")
# data = pd.read_csv(file_path, encoding="ISO-8859-1", low_memory=True)
file = Path('Resources/CensusProfile2021.csv')
data_df = pd.read_csv(file, encoding="ISO-8859-1", low_memory=True)
#data = pd.read_csv(file_path, encoding="UTF-8", index_col="year")
data_df.head()

,Topic,Characteristic,Total
0,Population and dwellings,"Population, 2021",213759.0
1,Population and dwellings,"Population, 2016",193832.0
2,Population and dwellings,"Population percentage change, 2016 to 2021",10.3
3,Population and dwellings,Total private dwellings,76179.0
4,Population and dwellings,Private dwellings occupied by usual residents,73558.0

In [19]:
data_df.set_index('Topic')

,Characteristic,Total
Topic,,
Population and dwellings,"Population, 2021",213759.0
Population and dwellings,"Population, 2016",193832.0
Population and dwellings,"Population percentage change, 2016 to 2021",10.3
Population and dwellings,Total private dwellings,76179.0
Population and dwellings,Private dwellings occupied by usual residents,73558.0
...,...,...
Household characteristics,Average monthly shelter costs for rented dwe...,2146.0
Household characteristics,Total - Households living in a dwelling provid...,0.0
Household characteristics,% of households living in a dwelling provide...,NaN
Household characteristics,Median monthly shelter costs for dwellings p...,NaN
Household characteristics,Average monthly shelter costs for dwellings ...,NaN